
    {{! Each post will be output using this markup }}
    {{#foreach posts}}

    <article class="{{post_class}}">
        <header>
            <div class="col-md-12 post-meta">
                <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time>
            </div>
            <h2 class="post-title">
                <a href="{{url}}">{{{title}}}</a>
            </h2>
        </header>
        <section class="post-excerpt">
            <p>{{excerpt words="50"}}...</p>
            <a class="read-more" href="{{url}}">Read More &raquo;</a></p>
        </section>
    </article>

    {{/foreach}}

        {{!! After all the posts, we have the previous/next pagination links }}
    {{ pagination}}