{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<main class="page--main col-md-7 col-md-pull-4" role="main">

  {{! Everything inside the #post tags pulls data from the post }}
  {{#post}}

    <article class="post">
      <header class="post-header">
        <h1 class="post-title">{{{title}}}</h1>

        <div class="post-meta">
          <time datetime="{{date format="YYYY-MM-DD"}}">{{date
              format="DD MMM YYYY"
            }}</time>{{#if updated_at}}, Updated:
            {{date updated_at format="DD MMM YYYY"}}{{/if}}
        </div>

        {{#if feature_image}}
          <div class="post__image"><img src="{{img_url feature_image}}" /></div>
        {{/if}}
      </header>

      <section class="post-content content--text">
        {{content}}
      </section>

      <footer class="post--footer">
        {{#if tags}}
          <div class="post--tags">{{tags}}</div>
        {{/if}}
        <p class="post--footer--copyright">&copy; 2013 – {{now format="yyyy"}}
          Robert Nealan. All rights reserved.</p>
      </footer>
    </article>

  {{/post}}
</main>